<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<context-param>
		<!-- key是固定写法，不能改 -->
		<param-name>contextConfigLocation</param-name>
		<!-- value：核心配置文件的位置 classpath:代表类路径，开发的时候src，tomcat:WEB-INF/classes -->
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>

	<!--log4j配置文件加载,spring配置 -->
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>classpath:log4j.properties</param-value>
	</context-param>
	<!--启动一个watchdog线程每1800秒扫描一下log4j配置文件的变化 -->
	<context-param>
		<param-name>log4jRefreshInterval</param-name>
		<param-value>1800000</param-value>
	</context-param>


</web-app>